*{
    margin: 0px;
    padding: 0px;
}

.active{
    background-color: aqua;
    width: 150px;
    height: 50px;
}

li{
    margin-left: 20px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}